{% extends 'base.html' %}

{% block content %}

{% block additional_css %}
<style>
    /* ########### DEBUG STYLING ########### */
    /* Add border to container for debugging */
    /* .container {
        border: 2px solid green;
    }

    .row {
        border: 2px solid orange;
    }

    .col-sm-6 {
        border: 2px solid purple;
    } */

    /* ########### DEBUG STYLING ########### */
</style>
{% endblock %}

<!-- ############ [START] SUM OF INCOMES AND EXPENSE CARDS ############ -->

<!-- [START] Total Expense Card -->
<!-- [END] Total Expense Card -->

<!-- [START] Total Income Card -->
<!-- [END] Total Income Card -->

<!-- ############ [END] SUM OF INCOMES AND EXPENSE CARDS ############ -->

<!-- ############ [START] INCOME & EXPENSE CHARTS.JS DIV ############ -->

<!-- [START] Canvas for Expense charts.js -->
<!-- [START] Selector for Expense Charts.js -->
<!-- [END] Selector for Expense Charts.js -->
<!-- [END] Canvas for Expense charts.js -->

<!-- [START] Canvas for Income charts.js -->
<!-- [START] Selector for Income Charts.js -->
<!-- [END] Selector for Income Charts.js -->
<!-- [END] Canvas for Income charts.js -->

<!-- ############ [END] INCOME & EXPENSE CHARTS.JS DIV ############ -->

<!-- ############ [START] INCOME & EXPENSE SUMMARY TABLE ############ -->
<!-- [START] Display summary by category card -->

 <!-- [START] Display summary of expense by category table -->
<!-- [END] Display summary of expense by category tbale -->

<!-- [START] Display summary of income by category table -->
<!-- [END] Display summary of income by category table -->

<!-- [END] Display summary by category card -->

<!-- ############ [END] INCOME & EXPENSE SUMMARY TABLE ############ -->
{% endblock %}

{% block additional_js %}
<!-- ############ [START] CHARTS.JS CONFIGURATION SCRIPT ############ -->

<!-- ############ [END] CHARTS.JS CONFIGURATION SCRIPT ############ -->

<!-- ############ [START] DATATABLE.JS CONFIGURATION SCRIPT ############ -->
 
<!-- ############ [END] DATATABLE.JS CONFIGURATION SCRIPT ############ -->

{% endblock %}