{% extends 'base.html' %}

{% block content %}

<div class="grid gap-3">
    <!-- ########## [START] SUM OF INCOME AND EXPENSES CARDS ########## -->
    <div class="p-2 g-col-6">
        <div class="card my-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Expenses</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title text-center mt-2 mb-4">£ {{ total_expenses }}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="mb-2">The figure above is the total of all expenses you have recorded to date. 
                        Currently you have spent 
                        <span class="text-primary text-emphasis" style="font-size: 1.5rem;">
                            <strong> {{ expense_percentage | floatformat:2 }}% </strong>
                        </span> of your income.
                        <a href="#" class="text-inherit mr-3 fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top" title="If this figure is 0 then you have yet to add any expenses or income." data-original-title="Zero Balance">
                        </a>
                    </li> 
                    <li class="mb-2">The rest of this page provides a summary of your expenses and incomes.</li>
                    <li class="mb-2" data-toggle="tooltip" title="">See the <strong><a href="#expenseCharts">Expenses Charts</a></strong> to view your expenses plotted monthly on a pie, bar, line or doughnut chart. Alternatively you can take a closer look and view the <strong><a href="#expenseCategory">Expenses By Category Table</a></strong> to see your expenses summariese by category.
                        <a href="#" class="text-inherit mr-3 fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top" title="Again, if you have not added any expenses or incomes, then the charts will be blanks." data-original-title="Zero Balance"></a>
                    </li>
                    <li class="mb-2">To <strong>Add</strong> a new expense, or to <strong>Edit</strong> / <strong>Delete</strong> and existing expense, select the button below which will take you to the detailed expenses view.</li>
                    <li>This will take you to the Expenses Details View.</li>
                </ul>
                <a href="{% url 'view_expenses' %}" class="w-100 btn btn-lg btn-outline-primary">Go To Expenses View</a>
            </div>
        </div>
    </div>

    <div class="p-2 g-col-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Incomes</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title text-center mt-2 mb-4">£ {{ total_income }}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="mb-2">The figure above is the total of all incomes you have recorded to date.</li>
                    <li class="mb-2">See the Income Chart below to view each months total incomes.</li>
                    <li class="mb-2" data-toggle="tooltip" title="">See the <strong><a href="#incomeCharts">Income Charts</a></strong> to view your incomes plotted monthly on a pie, bar, line or doughnut chart. Alternatively you can take a closer look and view the <strong><a href="#incomeCategory">Income By Income Source Table</a></strong> to see the total earnings from each income source.
                        <a href="#" class="text-inherit mr-3 fa-solid fa-circle-info" data-toggle="tooltip" data-placement="top" title="Again, if you have not added any expenses or incomes, then the charts will be blanks." data-original-title="Zero Balance"></a>
                    </li>
                    <li class="mb-2">To <strong>Add</strong> a new income, or to <strong>Edit</strong> / <strong>Delete</strong> and existing income, select the button below which will take you to the detailed income view.</li>
                    <li class="mb-2">This will take you to the Income Details View.</li>
                </ul>
                <a href="{% url 'view_income' %}" class="w-100 btn btn-lg btn-outline-primary">Go To Incomes View</a>
            </div>
        </div>
    </div>
    <!-- ########## [END] SUM OF INCOME AND EXPENSES CARDS ########## -->

    <!-- ########## [START] EXPENSES CHART.JS DIV ########## -->
    <div class="p-2 g-col-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal" id="expenseCharts">Expenses Charts</h4>
            </div>
            <div class="chartCard">
                <div class="chartBox">
                    <canvas id="expensesChart"></canvas>
                    <!-- Selector for chart types -->
                    <select onchange="changeChart(this, 'expensesChart')" name="" id="">
                        <optgroup label="Select Chart Type"></optgroup>
                        <option value="bar">Bar</option>
                        <option value="pie">Pie</option>
                        <option value="line">Line</option>
                        <option value="doughnut">Doughnut</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
<!-- ########## [END] EXPENSES CHART.JS DIV ########## -->

<!-- ########## [START] EXPENSES BY CAT TABLE ########## -->
<div class="p-2 g-col-6">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal" id="expenseCategory">Total Expenses by Spending Category</h4>
        </div>
        <div class="table-responsive">
            <table id="expensesSummaryTable" class="table table-striped table-hover table-bordered"
                 style="width:100%">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for summary in expense_summary %}
                    <tr>
                        <td>{{ summary.category }}</td>
                    <td class="summary-amount">£ {{ summary.total_amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th>£ {{ total_expenses }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- ########## [END] EXPENSES BY CAT TABLE ########## -->

<!-- ########## [START] INCOME CHART.JS DIV ########## -->
    <div class="p-2 g-col-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal" id="incomeCharts">Income Charts</h4>
            </div>
            <div class="chartCard">
                <div class="chartBox">
                    <canvas id="incomeChart"></canvas>
                    <!-- Selector for chart types -->
                    <select onchange="changeChart(this, 'incomeChart')" name="" id="">
                        <optgroup label="Select Chart Type"></optgroup>
                        <option value="bar">Bar</option>
                        <option value="pie">Pie</option>
                        <option value="line">Line</option>
                        <option value="doughnut">Doughnut</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
<!-- ########## [END] INCOME CHART.JS DIV ########## -->

<!-- ########## [START] INCOME SUMMARY TABLE ########## -->
    <div class="p-2 g-col-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal" id="incomeCategory">Total Earnings by Income Source</h4>
            </div>
            <div class="table-responsive">
                <table id="incomeSummaryTable" class="table table-striped table-hover table-bordered"
                    style="width:100%">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for summary in income_summary %}
                        <tr>
                            <td>{{ summary.category }}</td>
                            <td class="summary-amount">£ {{ summary.total_amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Total</th>
                            <th>£ {{ total_income }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
<!-- ########## [END] INCOME SUMMARY TABLE ########## -->
{% endblock %}

{% block additional_js %}
<!-- ########## [START] CHART JS CONFIG SCRIPT ########## -->
<script>
    const expensesCtx = document.getElementById('expensesChart').getContext('2d');
    const incomeCtx = document.getElementById('incomeChart').getContext('2d');

    // expenses data and labels configs
    const expensesLabels = {{ expense_labels | safe }};
    const expensesData = {
        labels: expensesLabels,
        datasets: [{
            label: 'Total Spent',
            data: {{ expense_data | safe }},
    backgroundColor: [
        'rgba(255, 99, 132, 0.4)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)',
    ],
        borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)',
        ],
            borderWidth: 3
        }]
    };

    // income data and labels configs
    const incomeLabels = {{ income_labels | safe }};
    const incomeData = {
        labels: incomeLabels,
        datasets: [{
            label: 'Total Earnings',
            data: {{ income_data | safe }},
    backgroundColor: [
        'rgba(75, 192, 192, 0.4)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)',
    ],
        borderColor: [
            'rgb(75, 192, 192)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
        ],
            borderWidth: 3
        }]
    };

    // expenses chart type configs
    const configBarExpenses = {
        type: 'bar',
        data: expensesData,
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month' // Display data by month
                    },
                    title: {
                        display: true,
                        text: 'Month'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Amount'
                    }
                }
            }
        }
    };

    const configPieExpenses = {
        type: 'pie',
        data: expensesData,
        options: {}
    };

    const configDoughnutExpenses = {
        type: 'doughnut',
        data: expensesData,
        options: {}
    };

    const configLineExpenses = {
        type: 'line',
        data: expensesData,
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month' // Display data by month
                    },
                    title: {
                        display: true,
                        text: 'Month'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Amount'
                    }
                }
            }
        }
    };

    // income chart type configs
    const configBarIncome = {
        type: 'bar',
        data: incomeData,
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month' // Display data by month
                    },
                    title: {
                        display: true,
                        text: 'Month'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Amount'
                    }
                }
            }
        }
    };

    const configPieIncome = {
        type: 'pie',
        data: incomeData,
        options: {}
    };

    const configDoughnutIncome = {
        type: 'doughnut',
        data: incomeData,
        options: {}
    };

    const configLineIncome = {
        type: 'line',
        data: incomeData,
        options: {
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'month' // Display data by month
                    },
                    title: {
                        display: true,
                        text: 'Month'
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Amount'
                    }
                }
            }
        }
    };

    // Render the initial charts
    let expensesChart = new Chart(expensesCtx, configBarExpenses);
    let incomeChart = new Chart(incomeCtx, configBarIncome);

    // Function to change the chart type
    function changeChart(chartType, chartId) {
        let chart;
        let configBar, configPie, configDoughnut, configLine;
        // get the chart object and config based on the chartId. Required to distinguish between expenses and income charts
        if (chartId === 'expensesChart') {
            chart = expensesChart;
            configBar = configBarExpenses;
            configPie = configPieExpenses;
            configDoughnut = configDoughnutExpenses;
            configLine = configLineExpenses;
        } else if (chartId === 'incomeChart') {
            chart = incomeChart;
            configBar = configBarIncome;
            configPie = configPieIncome;
            configDoughnut = configDoughnutIncome;
            configLine = configLineIncome;
        }

        chart.destroy();

        if (chartType.value === 'bar') {
            chart = new Chart(document.getElementById(chartId).getContext('2d'), configBar);
        } else if (chartType.value === 'pie') {
            chart = new Chart(document.getElementById(chartId).getContext('2d'), configPie);
        } else if (chartType.value === 'line') {
            chart = new Chart(document.getElementById(chartId).getContext('2d'), configLine);
        } else if (chartType.value === 'doughnut') {
            chart = new Chart(document.getElementById(chartId).getContext('2d'), configDoughnut);
        }

        if (chartId === 'expensesChart') {
            expensesChart = chart;
        } else if (chartId === 'incomeChart') {
            incomeChart = chart;
        }
    }
</script>
<!-- ########## [END] CHART JS CONFIG SCRIPT ########## -->

<!-- ########## [START] DATATABLE JS CONFIG SCRIPT ########## -->
<script>
    $(document).ready(function () {
        $('#expensesSummaryTable').DataTable({
            "searching": false, // Disable the search box
            "paging": false, // Disable pagination
            "info": false, // Disable table information
            "autoWidth": true, // Enable auto width adjustment
        });

        $('#incomeSummaryTable').DataTable({
            "searching": false, // Disable the search box
            "paging": false, // Disable pagination
            "info": false, // Disable table information
            "autoWidth": true, // Enable auto width adjustment
        });

        // Apply custom styling to the amount column in expensesSummaryTable
        $('#expensesSummaryTable tbody tr').each(function () {
            var amountCell = $(this).find('td.summary-amount');
            var amountText = amountCell.text().replace('£', '');
            var amount = parseFloat(amountText);

            if (amount < 0) {
                amountCell.css('color', 'red').css('font-weight', 'bold');
            } else if (amount > 0) {
                amountCell.css('color', 'green').css('font-weight', 'bold');
            }
        });

        // Apply custom styling to the amount column in incomeSummaryTable
        $('#incomeSummaryTable tbody tr').each(function () {
            var amountCell = $(this).find('td.summary-amount');
            var amountText = amountCell.text().replace('£', '');
            var amount = parseFloat(amountText);

            if (amount < 0) {
                amountCell.css('color', 'red').css('font-weight', 'bold');
            } else if (amount > 0) {
                amountCell.css('color', 'green').css('font-weight', 'bold');
            }
        });

        // set default options for datatables globally
        $.extend(true, $.fn.dataTable.defaults, {
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)' // exclude the last column (Action) from export
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)' // exclude the last column (Action) from export 
                    }
                },
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)' // exclude the last column (Action) from export
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)' // exclude the last column (Action) from export
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':not(:last-child)' // exclude the last column (Action) from export
                    }
                }
            ]
        });

        // initialise datatables
        $('#expensesSummaryTable').DataTable();
        $('#incomeSummaryTable').DataTable();
        $('#incomeTable').DataTable();
        $('#expensesTable').DataTable();
    });
</script>
<!-- ############ [END] DATATABLE.JS CONFIGURATION SCRIPT ############ -->

{% endblock %}