{% extends 'base.html' %}

{% block content %}

<div class="row-mt-6">
    <div class="col-md-4">
        <h3>Record an Income</h3>
        <hr>

        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success mt-2" type="submit" value="Record an Income">
            <button class="btn btn-secondary mt-2" type="button" onclick="cancelFormSubmission()">Cancel</button>
        </form>

    </div>
</div>

{% endblock %}

{% block additional_js %}
<script>
    // This function will redirect the user to the view_expenses page if they click the cancel button
    function cancelFormSubmission() {
        window.location.href = "{% url 'view_expenses' %}";
    }
</script>
{% endblock %}