{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="p-2 g-col">
        <div class="card my-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Income to date</h4>
            </div>

            <!-- [START] SUMMARY CARD -->
            <div class="card-body">
                <h1 class="card-title text-center mt-2 mb-4">
                    £ {{ total_income }}
                </h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="mb-2">
                        Your current total recorded income is displayed above.
                    </li>

                    <li class="mb-2">
                        You can edit or delete an income straight from the 
                        <strong>
                            <a href="#incomeDetails">
                                'Details of Recorded Incomes'
                            </a>
                        </strong> 
                        table below.
                    </li>
                    
                    <li class="mb-2">
                        Use the Income Chart below to see which income source is paying you the most.
                    </li>

                    <li class="mb-2">See the 
                        <strong>
                            <a href="#incomeCategory">
                            Incomes By Category Table
                            </a>
                        </strong>
                        below to view your income by category of source.
                    </li>

                    <li class="mb-2">To record a new income, select the 
                        <strong>
                            "Create A New Income"
                        </strong> button below...
                    </li>
                </ul>
                <a href="{% url 'create_income' %}" class="w-100 btn btn-lg btn-outline-primary">
                    Create A New Income
                </a>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm h-100">
                <!-- [START] INCOME CHART CARD -->
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Income Charts</h4>
                </div>
                <div class="chartCard">
                    <div class="chartBox">
                        <canvas id="incomeChart"></canvas>
                            <!-- Selector for chart types -->
                        <select onchange="changeChart(this)" name="" id="">
                            <optgroup label="Select Chart Type"></optgroup>
                            <option value="bar">Bar Chart</option>
                            <option value="pie">Pie Chart</option>
                            <option value="line">Line Chart</option>
                            <option value="doughnut">Doughnut Chart</option>
                        </select>
                    </div>
                </div>
                <!-- [END] INCOME CHART CARD -->
            </div>
        </div>

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm h-100">
                <!-- [START] INCOME BY CAT CHART CARD -->
                <div class="card-header py-3">
                    <h4 id="incomeCategory" class="my-0 fw-normal">Income By Category</h4>
                </div>
                <div class="table-responsive">
                    <table id="summaryTable" class="table table-striped table-hover table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for income in income_by_category %}
                            <tr>
                                <td>{{ income.category }}</td>
                                <td class="summary-amount">£ {{ income.total_amount }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- [END] INCOME BY CAT CHART CARD -->
            </div>
        </div>
    </div>

    <div class="p-2 g-col-6 mt-3">
        <div class="card mb-4 rounded-3 shadow-sm">
            <!-- [START] INCOME DETAILS TABLE CARD -->
            <div class="card-header py-3">
                <h4 id="incomeDetails" class="my-0 fw-normal">Details of Recorded Incomes</h4>
            </div>
            <div class="table-responsive p-3">
                <table id="incomeTable" class="table table-striped table-hover table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Amount</th>
                            <th class="date-column">Date</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for income in incomes %}
                        <tr>
                            <td>{{ income.category }}</td>
                            <td class="amount">£{{ income.in_amount }}</td>
                            <td class="date-column">{{ income.date }}</td>
                            <td>{{ income.description }}</td>
                            <td>
                                <div class="d-grid gap-2 d-md-block">
                                    <a href="{% url 'edit_income' income.id %}"
                                        class="btn btn-primary btn-sm m-1 d-block d-md-inline-block custom-btn">Edit</a>
                                    <a href="{% url 'delete_income' income.id %}"
                                        class="btn btn-danger btn-sm m-1 d-block d-md-inline-block custom-btn">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- [END] INCOME DETAILS TABLE CARD -->
        </div>
    </div>
</div>

{% endblock %}

{% block additional_js %}
<!-- ########## INCOME CHART.JS SCRIPT ########## -->
<script>
    const ctx = document.getElementById('incomeChart').getContext('2d');

    const labels = {{ income_labels| safe }}; // Ensure this is one line
    const data = {
        labels: labels,
        datasets: [{
            label: 'Total Earned',
            data: {{ income_data| safe }}, // Ensure this is one line
    backgroundColor: [
        'rgba(75, 192, 192, 0.4)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
    ],
        borderColor: [
            'rgb(75, 192, 192)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
        ],
            borderWidth: 1
        }]
    };

    const configBar = {
        type: 'bar',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    const configPie = {
        type: 'pie',
        data: data,
        options: {}
    };

    const configDoughnut = {
        type: 'doughnut',
        data: data,
        options: {}
    };

    const configLine = {
        type: 'line',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // Render the initial chart
    let incomeChart = new Chart(ctx, configBar);

    // Function to change the chart type
    function changeChart(chartType) {
        incomeChart.destroy();

        if (chartType.value === 'bar') {
            incomeChart = new Chart(ctx, configBar);
        } else if (chartType.value === 'pie') {
            incomeChart = new Chart(ctx, configPie);
        } else if (chartType.value === 'line') {
            incomeChart = new Chart(ctx, configLine);
        } else if (chartType.value === 'doughnut') {
            incomeChart = new Chart(ctx, configDoughnut);
        }
    }
</script>

<!-- Initialize DataTable with export buttons and search functionality -->
<script>
    $(document).ready(function () {
        $('#incomeTable').DataTable({
            "searching": true, // This enables the search box
            "dom": '<"top"iBf>rt<"bottom"lp><"clear">', // Custom layout to place buttons above the table
            "buttons": [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)' // Exclude the last column (Actions)
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)' // Exclude the last column (Actions)
                    }
                },
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)' // Exclude the last column (Actions)
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)' // Exclude the last column (Actions)
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':not(:last-child)' // Exclude the last column (Actions)
                    }
                }
            ],
            "columnDefs": [
                { "className": "description-column", "targets": 3 }, // Apply the description-column class to the 3rd column
                { "className": "actions-column", "targets": 4 } // Apply the actions-column class to the 5th column
            ],
            "autoWidth": true, // Enable auto width adjustment
            "columns": [
                // Set the width of each column
                { "width": "6%" }, // Category
                { "width": "10%" }, // Amount
                { "width": "10%" }, // Date
                { "width": "30%" }, // Description
                { "width": "20%" }  // Actions
            ]
        });

        // Initialize DataTable for the summary table
        $('#summaryTable').DataTable({
            "autoWidth": true, // Enable auto width adjustment
        });

        // Apply custom styling to the amount column in incomeTable
        $('#incomeTable tbody tr').each(function () {
            var amountCell = $(this).find('td.amount');
            var amountText = amountCell.text().replace('£', '');
            var amount = parseFloat(amountText);

            if (amount < 0) {
                amountCell.css('color', 'red').css('font-weight', 'bold');
            } else if (amount > 0) {
                amountCell.css('color', 'green').css('font-weight', 'bold');
            }
        });

        // Apply custom styling to the amount column in summaryTable
        $('#summaryTable tbody tr').each(function () {
            var amountCell = $(this).find('td.summary-amount');
            var amountText = amountCell.text().replace('£', '');
            var amount = parseFloat(amountText);

            if (amount < 0) {
                amountCell.css('color', 'red').css('font-weight', 'bold');
            } else if (amount > 0) {
                amountCell.css('color', 'green').css('font-weight', 'bold');
            }
        });

        // Hide the year from the date on smaller screens
        function formatDate(dateStr, hideYear) {
            var date = new Date(dateStr);
            var options = hideYear ? { month: 'short', day: 'numeric' } : { year: 'numeric', month: 'short', day: 'numeric' };
            return date.toLocaleDateString(undefined, options);
        }

        function updateDates() {
            var hideYear = $(window).width() <= 576;
            $('#incomeTable tbody .date-column').each(function () {
                var dateText = $(this).text();
                var formattedDate = formatDate(dateText, hideYear);
                $(this).text(formattedDate);
            });
        }

        // Run the updateDates function on page load and window resize
        updateDates();
        $(window).resize(function () {
            updateDates();
        });
    });
</script>

{% endblock %}