

/* BODY */
html, body {
    height: 100%;
}

/* body {
    font-family: 'Lato';
    background-color: brown;
} */


.active {
    border-bottom: 3px solid green;
    font-weight: 600;
}

.form > label {
    color: aqua;
}

.form-control-label {
    color: black;
}
