/* ########### MAIN STYLING ########### */
html,
body {
  height: 100%;
}

/* body {
    font-family: 'Lato';
    background-color: brown;
} */

/* ########### DATATABLE STYLING ########### */
.active {
  border-bottom: 3px solid green;
  font-weight: 600;
}

/* ########### CRISPY FORMS STYLING ########### */
/* Crispy form labels */
.form > label {
  color: aqua;
}
.form-control-label {
  color: black;
}

/* Crispy forms label text */
.custom-label {
  font-size: 1.25rem; /* Increase text size */
  margin-top: 0.5rem; /* Add margin */
  color: white; /* Ensure the text color is white */
  font-weight: bold; /* Ensure the text is bold */
}

/* ########### MEDIA QUERIES ########### */
@media (max-width: 576px) {
  /* view_expenses.html DataTables stack btn */
  .d-md-inline-block {
    display: block !important;
    width: 100%;
  }
  .d-md-block {
    display: block !important;
  }

  /* expense table button text resizing */
  .custom-btn {
    font-size: 0.5rem; /* Adjust the font size as needed */
  }

  /* Wrap text in table cells to prevent overflow */
  .table td,
  .table th {
  word-wrap: break-word;
  white-space: normal;
}


}

