<header>
  <!-- resolver for identifying active page for active highlighting on page -->
  <!-- {% with request.resolver_match.url_name as url_name %} -->
  <!-- NAVBAR START -->
  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand pl-3" href="{% url 'home' %}">Spinning Plates</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>

              <!-- Spare Link. Remove if not used at end of development -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li> -->

              <!-- Profile & Settings Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu">
                  <!-- Login name shown if logged in -->
                  <li><a class="dropdown-item" href="#">{% if user.is_authenticated %} Profile for {{ user }} {% endif %}</a>
                                        
                  </li>

                  <!-- User profiles disabled. Functionality will be Future scope -->
                  <!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
                  <li><hr class="dropdown-divider"></li>
                  <!-- <li class="nav-link disabled">Sign In / Register</li> -->

                  <!-- logout shown if user logged in -->
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" 
                        href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    <!-- else shown if user is not logged in -->
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" 
                        href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
              </li>
            </ul>
            <!-- Search no longer required as search shall be via dataTable.js -->
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
      <!-- NAVBAR END -->
  {% endwith %}
</header>