<header>
  <!-- NAVBAR START -->
  <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary shadow">
    <div class="container-fluid">
      <a class="navbar-brand px-3" href="{% url 'home' %}">Spinning Plates</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 nav nav-tabs" id="myTab" role="tablist">
          <!-- Center the nav items using mx-auto and use nav-tabs class -->

          <li class="nav-item" role="presentation">
            <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" id="home-tab"
              href="{% url 'home' %}" role="tab" aria-controls="home" aria-selected="true">Home</a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link {% if request.resolver_match.url_name == 'view_expenses' %}active{% endif %}"
              id="expenses-tab" href="{% url 'view_expenses' %}" role="tab" aria-controls="view_expenses"
              aria-selected="false">Expenses</a>
          </li>

          <li class="nav-item" role="presentation">
            <a class="nav-link {% if request.resolver_match.url_name == 'view_income' %}active{% endif %}"
              id="income-tab" href="{% url 'view_income' %}" role="tab" aria-controls="view_income"
              aria-selected="false">Income</a>
          </li>

          <!-- Add more nav items as needed -->

        </ul>
      </div>
    </div>
  </nav>
  <!-- NAVBAR END -->
</header>