{% extends 'base.html' %}

{% block content %}

{% block additional_css %}
<style>
    /* ########### [START] DEBUG STYLING ########### */
    /* Add border to container for debugging */
    /* .container {
        border: 2px solid green;
    }

    .row {
        border: 2px solid orange;
    }

    .col-sm-6 {
        border: 2px solid purple;
    } */

    /* ########### [END] DEBUG STYLING ########### */
</style>
{% endblock %}
<div class="grid gap-3">
    <!-- ########## [START] SUM OF INCOME AND EXPENSES CARDS ########## -->
    <div class="p-2 g-col-6">
        <div class="card my-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Record A New Expense</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title text-center mt-2 mb-4">£ {{ total_expenses }}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li class="mb-2">Your current total recorded expenses are displayed above. This is currently 
                        <span class="text-primary text-emphasis" style="font-size: 1.5rem;">
                            <strong> {{ expense_percentage | floatformat:2 }}% </strong>
                        </span> of your recorded income todate.
                    </li>
                    <li class="mb-2">The rest of this page provides details of your previously recorded expenses; which you can edit or delete any of them from the <strong><a href="#expenseDetails">'Details of Recorded Expenses'</a></strong> table below.</li>
                    <li class="mb-2">Use the Expenses Chart below to see which expense category is effecting you the most.</li>
                    <li class="mb-2">See the <strong><a href="#expenseCategory">Expenses By Category Table</a></strong> below to view your expenses by category of spend.</li>
                    <li class="mb-2">To get a more detailed view of your recorded expenses, select the <strong>"Create A New Expense"</strong> button below to add new expenses or to view/edit existing ones.</li>
                    <li>This will take you to the Expenses Details View.</li>
                </ul>
                <a href="{% url 'create_expense' %}" class="w-100 btn btn-lg btn-outline-primary">Create A New Expense</a>
            </div>
        </div>
    </div>

    <!-- ########## [START] EXPENSES CHART.JS DIV ########## -->
    <div class="p-2 g-col-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Expenses Charts</h4>
            </div>
            <div class="chartCard">
                <div class="chartBox">
                    <canvas id="expenseChart"></canvas>
                    <!-- Selector for chart types -->
                    <select onchange="changeChart(this)" name="" id="">
                        <optgroup label="Select Chart Type"></optgroup>
                        <option value="bar">Bar Chart</option>
                        <option value="pie">Pie Chart</option>
                        <option value="line">Line Chart</option>
                        <option value="doughnut">Doughnut Chart</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- ########## [END] EXPENSES CHART.JS DIV ########## -->
    
    <!-- [START] TABLE - Expense by Category Datatable.js -->
    <div class="p-2 g-col-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 id="expenseCategory" class="my-0 fw-normal">Expenses By Category</h4>
            </div>
            <div class="table-responsive">
                <table id="summaryTable" class="table table-striped table-hover table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expense_by_category %}
                        <tr>
                            <td>{{ expense.category }}</td>
                            <td class="summary-amount">£ {{ expense.total_amount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="p-2 g-col-6">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 id="expenseDetails" class="my-0 fw-normal">Details of Recorded Expenses</h4>
            </div>
            <div class="table-responsive p-3">
                <table id="expenseTable" class="table table-striped table-hover table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Amount</th>
                            <th class="date-column">Date</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                        <tr>
                            <td>{{ expense.category }}</td>
                            <td class="amount">£ {{ expense.amount }}</td>
                            <td class="date-column">{{ expense.date }}</td>
                            <td>{{ expense.description }}</td>
                            <td>
                                <div class="d-grid gap-2 d-md-block">
                                    <a href="{% url 'edit_expense' expense.id %}"
                                        class="btn btn-primary btn-sm m-1 d-block d-md-inline-block custom-btn">Edit</a>
                                    <a href="{% url 'delete_expense' expense.id %}"
                                        class="btn btn-danger btn-sm m-1 d-block d-md-inline-block custom-btn">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

{% block additional_js %}
<!-- ########## [START] CHART.JS CONFIGURATION ########## -->
<script>
    const ctx = document.getElementById('expenseChart').getContext('2d');

    const labels = {{ expense_labels| safe }}; // Ensure this is one line
    const data = {
        labels: labels,
        datasets: [{
            label: 'Total Spent',
            data: {{ expense_data| safe }}, // Ensure this is one line
    backgroundColor: [
        'rgba(255, 99, 132, 0.4)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
    ],
        borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(153, 102, 255)',
            'rgb(201, 203, 207)'
        ],
            borderWidth: 1
        }]
    };

    const configBar = {
        type: 'bar',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    const configPie = {
        type: 'pie',
        data: data,
        options: {}
    };

    const configDoughnut = {
        type: 'doughnut',
        data: data,
        options: {}
    };

    const configLine = {
        type: 'line',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    // Render the initial chart
    let expenseChart = new Chart(ctx, configBar);

    // Function to change the chart type
    function changeChart(chartType) {
        expenseChart.destroy();

        if (chartType.value === 'bar') {
            expenseChart = new Chart(ctx, configBar);
        } else if (chartType.value === 'pie') {
            expenseChart = new Chart(ctx, configPie);
        } else if (chartType.value === 'line') {
            expenseChart = new Chart(ctx, configLine);
        } else if (chartType.value === 'doughnut') {
            expenseChart = new Chart(ctx, configDoughnut);
        }
    }
</script>
<!-- ########## [END] CHART.JS CONFIGURATION ########## -->

<!-- ########## [START] DATATABLE.JS CONFIGURATION ########## -->
<!-- Initialize DataTable with export buttons and search functionality -->
<script>
    $(document).ready(function () {
        $('#expenseTable').DataTable({
            "searching": true, // This enables the search box
            "dom": '<"top"iBf>rt<"bottom"lp><"clear">', // Custom layout to place buttons above the table
            "buttons": [
                {
                    extend: 'copyHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)' // to stop buttons being exported or printed
                    }
                },
                {
                    extend: 'excelHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }

                },
                {
                    extend: 'csvHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':not(:last-child)'
                    }
                }
            ],

            "columnDefs": [
                { "className": "description-column", "targets": 3 }, // Apply the description-column class to the 3rd column
                { "className": "actions-column", "targets": 4 } // Apply the actions-column class to the 5th column
            ],

            "autoWidth": true, // Enable auto width adjustment
            "columns": [
                // Set the width of each column
                { "width": "20%" }, // Category
                { "width": "10%" }, // Amount
                { "width": "10%" }, // Date
                { "width": "30%" }, // Description
                { "width": "20%" }  // Actions
            ]
        });

        // Initialise Datatable for the summary table
        $('#summaryTable').DataTable({
            'searching': false, // disable the search box
            'paging': false, // disable pagination
            'info': false, // disable table information
            'autoWidth': true // enable auto width adjustment
        });

        // Apply custom styling to the amount column in expensesTable
        $('#expenseTable tbody tr').each(function () {
            var amountCell = $(this).find('td.amount');
            var amountText = amountCell.text().replace('£', '');
            var amount = parseFloat(amountText);

            // forcing text styling based on positive or negative values
            if (amount < 0) {
                amountCell.css('color', 'red').css('font-weight', 'bold');
            } else if (amount > 0) {
                amountCell.css('color', 'green').css('font-weight', 'bold');
            }
        });

        // apply custom styling to the amount column in summary Table
        $('#summaryTable tbody tr').each(function () {
            var amountCell = $(this).find('td.summary-amount');
            var amountText = amountCell.text().replace('£', '');
            var amount = parseFloat(amountText);

            // forcing text styling based on positive or negative values
            if (amount < 0) {
                amountCell.css('color', 'red').css('font-weight', 'bold');
            } else if (amount > 0) {
                amountCell.css('color', 'green').css('font-weight', 'bold');
            }
        });

        // Hide the year from the date on smaller screens
        function formatDate(dateStr, hideYear) {
            var date = new Date(dateStr);
            var options = hideYear ? { month: 'short', day: 'numeric' } : { year: 'numeric', month: 'short', day: 'numeric' };
            return date.toLocaleDateString(undefined, options);
        }

        function updateDates() {
            var hideYear = $(window).width() <= 576;
            $('#expenseTable tbody .date-column').each(function () {
                var dateText = $(this).text();
                var formattedDate = formatDate(dateText, hideYear);
                $(this).text(formattedDate);
            });
        }

        // Run the updateDates function on page load and window resize
        updateDates();
        $(window).resize(function () {
            updateDates();
        });
    });
</script>
<!-- ########## [END] DATATABLE.JS CONFIGURATION ########## -->
{% endblock %}